<div class="nav-wrapper">
    <nav class="nav">
        <a class="nav__logo" href="#"><span class="nav__logo--blue">و</span>بلاگ</a>
        <ul class="menu">
            <li class="menu__item"><a href="#" class="menu__item-link">صفحه اصلی</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">درباره ما</a></li>
            <li class="menu__item"><a href="{% url 'blog:ticket' %}" class="menu__item-link">تماس با ما</a></li>
        </ul>
        <a href="#" class="nav__btn">ورود | ثبت نام</a>
    </nav>
</div>