{% extends 'parent/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="login">
            <div class="contactus">
                <h2 class="contactus__title">تغییر رمز</h2>
                <form method="post" class="contactus__form">
                    {% csrf_token %}
                    <div class="login-inputs-wrapper">
                        <label for="ticket__email" class="contactus__label">رمز عبور فعلی</label>
                        <input name="password" type="password" id="ticket__email" required class="ticket__email">
                    </div>

                    <div class="login-inputs-wrapper">
                        <label for="ticket__email" class="contactus__label">رمز عبور جدید</label>
                        <input name="new_password" type="password" id="ticket__email" required class="ticket__email">
                    </div>

                    <div class="login-inputs-wrapper">
                        <label for="ticket__name" class="contactus__label">تکرار رمز جدید</label>
                        <input name="confirm_password" type="password" id="ticket__name" required class="ticket__name">
                    </div>


                    <input type="submit" class="comment-form__btn" value="تغییر رمز">
                </form>
            </div>
        </div>
    </div>
{% endblock %}