{% extends 'parent/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="login">
            <div class="contactus">
                <h2 class="contactus__title">ورود</h2>
                <form method="post" class="contactus__form">
                    {% csrf_token %}
                    <div class="login-inputs-wrapper">
                        <label for="ticket__email" class="contactus__label">ایمیل</label>
                        <input name="email" type="email" id="ticket__email" required class="ticket__email">
                    </div>

                    <div class="login-inputs-wrapper">
                        <label for="ticket__name" class="contactus__label">رمز</label>
                        <input name="password" type="password" id="ticket__name" required class="ticket__name">
                    </div>


                    <input type="submit" class="comment-form__btn" value="ورود">
                </form>
                <div class="login-links">
                    <a href="#" class="login-link">فراموشی رمز عبور</a>
                    <br>
                    <a href="{% url 'blog:register' %}" class="login-link">ایجاد حساب</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}