{% extends 'parent/base.html' %}
{% load static %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <div class="container">
        <div class="contactus">
            <h2 class="contactus__title">ایجاد پست جدید</h2>
            <form method="post" class="contactus__form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="contactus__elemetnt-wrapper">
                    <label for="ticket__phone" class="contactus__label" id="create-post-title" >عنوان</label>
                    <input type="text" id="ticket__phone" required class="ticket__phone" name="title">
                </div>

                <div class="contactus__elemetnt-wrapper">
                    <label for="ticket__phone" class="contactus__label" id="create-post-title"  >زمان مطالعه</label>
                    <input type="number"  min="0" id="ticket__phone" required class="ticket__phone" name="reading_time">
                </div>

                <div class="contactus__elemetnt-wrapper">
                    <label for="ticket__description" class="contactus__label">متن</label>
                    <textarea name="description" required id="ticket__description" cols="30" rows="10" class="ticket__description" ></textarea>
                </div>

                <div class="contactus__elemetnt-wrapper">
                    <label for="ticket__category" class="contactus__label" >دسته بندی</label>
                    <select name="category" class="ticket__category" id="ticket__category" >
                        {% for category in  categories %}
                            <option class="ticket__category-option" value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="contactus__elemetnt-wrapper">
                    <span class="contactus__label">تصاویر</span>
                    <input name="image1" class="image-upload" type="file" id="" >
                    <input name="image2" class="image-upload" type="file" id="" >
                </div>

                {% if post.images.count %}
                    <div class="contactus__elemetnt-wrapper">
                        <span class="contactus__label">تصاویر موجود</span>
                        <div class="create-posts-image-wrapper">
                            {% for image in post.images.all %}
                                <div class="create-post-image-wrapper">
                                    <img src="{{ image.image_file.url }}" class="create-post-image" alt="">
                                    <a href="{% url 'blog:delete_image' image.id %}" class="delete-image">حذف</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
{##}
                <input type="submit" class="comment-form__btn" value="ایجاد پست">
            </form>
        </div>
    </div>

{#<input type="file" name="image1" accept="image/*" id="id_image1">#}
{% endblock %}