{% extends 'parent/base.html' %}
{% load static %}
{% load jformat %}

{% block title %}Blog | Posts{% endblock %}

{% block content %}
    <main class="main">
        {% include 'partials/search.html' %}

        <section class="container post-section">
            <div class="post_wrapper">
                {% for post in posts %}
                    <div class="post">
                        <a href="{{ post.get_absolute_url }}" class="post__image-wrapper">
                            <img class="post__image" src="{{ post.images.first.image_file.url }}" alt="#">
                        </a>
                        <div class="post__title-wrapper">
                            <a href="{{ post.get_absolute_url }}" class="post__title">{{ post.title }}</a>
                        </div>

                        <div class="post__date-wrapper">
                            <p class="post__date">{{ post.publish|jformat:"%d %Y %B"}}</p>
                            {% if post.reading_time %}
                                <p class="post__reading-time">{{ post.reading_time }} دقیقه زمان مطالعه</p>
                            {% endif %}
                        </div>

                        <p class="post__description">{{ post.description }}</p>

                        <div class="post__line"></div>

                        <div class="post__writer-wrapper">
                            <img class="post__writer-image" src="{% static 'images/mahdi.jpg' %}" alt="#">
                            <a class="post__writer" href="#">{{ post.auther.first_name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    {% include 'partials/pagination.html' with page=posts %}
{% endblock %}
