{% extends 'parent/base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <section class="profile">
        <!---------------- Side Bar Start---------------->
        <div class="profile-sidebar">
            {% if request.user.account.image %}
               <img class="profile-image" src="{{ request.user.account.image.url }}" alt="">
            {% else %}
               <img class="profile-image" src="{% static 'images/empty-profile.png' %}" alt="">
            {% endif %}
            <a href="{% url 'blog:personal_detail' %}" class="profile-name">{{ request.user.first_name }} {{ request.user.last_name }}</a>
            <ul class="profile-menu">
                <li class="profile-menu__item"><a class="profile-menu__link" href="{% url 'blog:personal_detail' %}">مشخصات</a></li>
                <li class="profile-menu__item"><a class="profile-menu__link" href="{% url 'blog:profile_posts' %}">پست ها</a></li>
            </ul>
        </div>
        <!---------------- Side Bar End---------------->

        <div class="profile-content">

            <!---------------- Profile Posts Start---------------->
            <div class="profile-posts">
                    <div class="profile-top">
                        <h3 class="profile-title">پست ها ({{ posts.count }})</h3>
                        <a href="{% url 'blog:create_post' %}" class="profile-add-post">اضافه کردن پست (+)</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>مشاهده</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for post in posts %}
                                <tr>
                                    <td class="td1">{{ forloop.counter }}</td>
                                    <td class="td2"><a class="table-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                                    <td class="td3"><span class="status"
                                                          style="{% if post.status == "DF" %}background-color:#749bc2;{% elif post.status == "RJ"%}background-color:darkred;{% endif %}">{{ post.status }}</span></td>
                                    <td class="profile-operation-svg-wrapper td4">
                                        <a href="{% url 'blog:delete_post' post.id %}">
                                            <svg class="profile-operation-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                        </a>
                                        <a href="{% url 'blog:edit_post' post.id %}">
                                            <svg class="profile-operation-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

{#            <form method="post" class="delete-warning" id="delete-warning">#}
{#                {% csrf_token %}#}
{#                <h1 class="warning-title">آیا از حذف مطمئن هستید؟</h1>#}
{#                <div class="delete-btn-wrapper">#}
{#                    <a href="#" class="delete-btn" id="delete-cancel">انصراف</a>#}
{#                    <input type="submit" class="delete-btn" id="delete-accept" value="delete">#}
{#                </div>#}
{#            </form>#}
            <!---------------- Profile Posts End---------------->


        </div>
    </section>
</div>
{% endblock %}